dictionary.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name = "dictionary" type = "dictionaryType"/>

<xsd:complexType name = "dictionaryType">
 <xsd:sequence>
  <xsd:element name = "word" type = "wordType" minOccurs = "0" maxOccurs = "unbounded"/>
 </xsd:sequence> 
</xsd:complexType>
 
 <xsd:complexType name = "wordType">
    <xsd:sequence>
	   <xsd:element name = "foreignWord" type = "xsd:string" />
	   <xsd:element name = "nativeWord"  type = "xsd:string"/>	   
	   <xsd:element name = "score"   type = "xsd:int"  />
	   	<xsd:element name = "learned" type = "xsd:int" />
    </xsd:sequence>
</xsd:complexType>	
</xsd:schema>